/* NAVBAR */
.navBar {
  height: 50px;
  gap: "50px";
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-style: round;
  border: 2px solid rgb(199, 201, 201);
  border-radius: 20px;
  box-shadow: 0 8px 8px -4px lightblue;
  background-image: linear-gradient(rgb(248, 248, 248), rgb(211, 213, 213)) ;
}

.leftLinks {
  padding-left: 20px;
  display: flex;
  gap: 20px
}

.rightLinks {
  padding-right: 20px;
  display: flex;
  gap: 20px
}

.navBar:hover {
  font-style: bold;
}

/* REGISTER FORM */
.registerForm, .loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.inputField {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 5px;

}

.inputButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
  /* display: inline-block; */
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
  width: 100px;
  margin-left: 10px;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */

}

.inputButton:hover {
  background-color: #ceeeee;
}

/* /PATIENT LIST */

.patientCard {
  /* justify-content: center; */
  display: flex;
  margin-left: 30px;
  /* width: 80%; */
  align-items: center;
  justify-content: center;
  border-style: round;
  border: 2px solid rgb(199, 201, 201);
  border-radius: 20px;
  box-shadow: 0 8px 8px -4px lightblue;
}

.patientButton  {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.assessmentButton {
  white-space: nowrap; 
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 20px; 
  text-align: center;
  min-width: 100px;
  transition: background-color 0.3s ease; 
}

.patientButton:hover, .assessmentButton:hover {
  background-color: #ceeeee;
}


.patientTable {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  /* padding: 8px;
  border-radius: 20px;
  box-shadow: 0 8px 8px -4px lightblue; */
  background-image: linear-gradient(rgb(248, 248, 248), rgb(211, 213, 213)) ;
}

.assessmentHeader {
  font-family: "Amazon Ember",sans-serif;
  font-style: bold;
  font-size: 15px;
}


/* HOMEPAGE */
.cards {
  justify-content: center;
  align-items: center;
  width: auto;
  /* padding-left: 10px; */
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.assessments {
  /* display: grid; */
  /* width: 80%; */
  padding-top: 15px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: round;
  border: 2px solid rgb(199, 201, 201);
  border-radius: 20px;
  box-shadow: 0 8px 8px -4px lightblue;
  /* cursor: pointer; */
    /* grid-template-columns: 1fr 1fr; */
}

.assessments:hover {
  cursor: pointer;
}

.assessmentCard {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.assessmentColumn, .intitialColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.reassessNumber, .initialNumber {
  font-size: 40px;
  font-style: bold;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

/* PATIENT.JS */

.patientCards {
  /* display: grid; */
  /* width: 80%; */
  /* height: 200px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: round;
  border: 2px solid rgb(199, 201, 201);
  border-radius: 20px;
  box-shadow: 0 8px 8px -4px lightblue;
}
.patientPage {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
}

.notesColumn {
  /* margin-left: 10px; */
  flex: 1;
}

.rightColumn {
  /* width: 50%; */
  margin-left: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rightColumn .patientCards {
  margin-bottom: 10px;
}


.userLabel {
  display: inline-block !important;
  width: 80px; /* Adjust the width as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

.reassessmentButton {
  white-space: nowrap; 
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  color: #0f1111;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 15px;
  font-style: bold;
  line-height: 29px;
  padding: 0 20px; 
  text-align: center;
  min-width: 100px;
  background-color: #ceeeee;
}
